* {
	padding: 0;
	margin: 0;
}
a img, :link img, :visited img{border:0}
ul{list-style:none}
body {
	font-family: Tahoma,'微软雅黑',simsun;
	font-size: 12px;
	line-height: 1.5;
}
textarea {
	font-family: Tahoma,'微软雅黑',simsun;
	overflow: auto;
	padding: 2px;
}
input {
	font-family: Tahoma,'微软雅黑',simsun;
	padding: 2px;
}
button {
	font-family: Tahoma,'微软雅黑',simsun;
	font-size: 14px;
	padding: 3px 10px;
	cursor: pointer;
}
header {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	background: #000;
	color: #fff;
}
#container {
	padding: 15px 20px;
}
#canvasBox {
	border: 1px solid #ccc;
}
#container {
	width: 860px;
	margin: 0 auto;
	overflow: hidden;
}
.shadow {
	border: 1px solid #CCC;
	box-shadow: 2px 2px 1px #DDD;
}
.tools {
	float: left;
	width: 150px;
	margin-right: 20px;
}
.tools h3 {
	margin-bottom: 5px;
}
.tools button {
	margin-bottom: 3px;
}
.tools label {
	font-size: 14px;
	display: block;
}
.tools .colors {
	overflow: hidden;
}
.tools .colors li {
	float: left;
	margin: 0 2px 2px 0;
	border: 1px solid #333;
	width: 15px;
	height: 15px;
	text-indent: -9999em;
}
.one-note {
	float: left;
	width: 690px;
	margin-bottom: 10px;
}
.one-note .content {
	padding: 5px;
	border: 1px solid #DDD;
}
.date-weather {
	font-size: 16px;
	text-align: center;
	overflow: hidden;
	margin-bottom: 5px;
}
.date-weather button {
	display: inline-block;
	width: 0;
	height: 0;
	font-size: 0;
	padding: 0;
	background: transparent;
	text-indent: -9999em;
}
.date-weather input[type='date'] {
	font-size: 14px;
	font-weight: bold;
	float: left;
}
.date-weather button.older {
	border-top: 7px solid transparent;
	border-right: 7px solid #333;
	border-bottom: 7px solid transparent;
	border-left: 0 none;
	margin-right: 10px;
}
.date-weather button.newer {
	border-top: 7px solid transparent;
	border-left: 7px solid #333;
	border-bottom: 7px solid transparent;
	border-right: 0 none;
	margin-left: 10px;
}
.date-weather .weather {
	float: right;
}
.pics {
	clear: both;
	border: 1px solid #ccc;
	margin-top: 10px;
	margin-left: 170px;
}
.pics li {
	display: inline-block;
	vertical-align: top;
	margin: 5px;
}